.tl_security_checker .last-checked {
    display:inline-block;
    margin-left:10px;
}

.tl_security_checker h2.sub_headline {
    margin: 18px 2% 3px;
}

.tl_security_checker .tl_submit_container {
    background: 0 0;
    padding: 0 2% 24px;
    border: 0;
}

#tl_buttons+.tl_security_checker {
    border-top: 1px solid #e6e6e8;
}

.tl_message {
    margin: 0 15px 14px;
}
